@import "../../scss/variables.scss";

.hero {
  width: 100vw;
  height: 38vh;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
