.masonry {
  .masonry {
    height: 150rem;
    max-width: 100vw;
    display: grid;
    // background-color: $color-black;
    // grid-template-rows: 25% 25% 25% 25%;
    // grid-template-columns: 24.5% 24.5% 24.5% 24.5%;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 0.1%;
    justify-content: center;
    grid-auto-flow: dense;

    // @include respond(tab-land) {
    //   grid-template-rows: 1fr 1fr 1fr;
    //   grid-template-columns: 1fr 1fr 1fr;
    //   height: 200rem !important;
    // }
    // @media only screen and (max-width: 62.5em) {
    //   height: 200rem !important;
    // } //1000px
    // @include respond(tab-port) {
    //   grid-template-rows: auto auto;
    //   grid-template-columns: auto auto auto;
    //   max-height: 250rem;
    // }

    // @include respond(phone) {
    //   grid-template-rows: auto auto;
    //   grid-template-columns: 1fr 1fr;
    // }
    // // @include respond(small-phone) {
    // //   grid-template-rows: auto auto;
    // //   grid-template-columns: 1fr 1fr;
    // // }
  }
}
