a {
  text-decoration: none;
  color: black;
}

html {
  overflow-x: hidden;
}
.App {
  position: relative;
  background-color: #f7f7f7;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  #root {
    margin-right: 12px;
  }
}
