@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Lato";
}

* {
  margin: 0;
  padding: 0;
}
